{
  "openapi": "3.0.0",
  "info": {
    "title": "B2B Taxi",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://main.tdx.by/tdx"
    },
    {
      "url": "https://main.tdx.by/prg_PetushkovA",
      "description": "Тест"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": ""
      },
      "Token": {
        "name": "Token",
        "type": "apiKey",
        "in": "header",
        "description": "Токен получаемый с запроса авторизации. Пример = 9F1159B7E67F141ECCE70995AE03281AFC9355AE"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "Token": []
    }
  ],
  "paths": {
    "/hs/catalog/v2/user": {
      "put": {
        "summary": "Создать пользователя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Логин": {
                    "type": "string"
                  },
                  "ИНН": {
                    "type": "string"
                  },
                  "КонтактноеЛицо": {
                    "type": "string"
                  },
                  "МобильныйТелефонРБ": {
                    "type": "string"
                  },
                  "НаименованиеОрганизации": {
                    "type": "string"
                  },
                  "Почта": {
                    "type": "string"
                  },
                  "АдресДоставки": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "Логин": "max_6",
                    "ИНН": "000000000000",
                    "КонтактноеЛицо": "Шелест",
                    "МобильныйТелефонРБ": "+375295555555",
                    "НаименованиеОрганизации": "Трололо",
                    "Почта": "max@gmail.com",
                    "АдресДоставки": "пер.Козлова, 25"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "Логин": "test",
                    "ИНН": "000000000000",
                    "КонтактноеЛицо": "Дзержинский",
                    "МобильныйТелефонРБ": "+375295555555",
                    "НаименованиеОрганизации": "РогаИКопыта",
                    "Почта": "lenin@gmail.com",
                    "АдресДоставки": "пер.Коммунистический, 25"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "userID": "8e409f7a-be89-11ed-8d92-005056ae85a8"
                      },
                      "ErrorCode": "5",
                      "Error": "Текст ошибки"
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Отработало или нет"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string",
                          "description": "ID пользователя"
                        }
                      }
                    },
                    "Error": {
                      "type": "string",
                      "description": "Описание ошибки"
                    },
                    "ErrorCode": {
                      "type": "string",
                      "description": "Код ошибки"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                },
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "userID": "8e409f7a-be89-11ed-8d92-005056ae85a8"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Регистрация нового пользователя B2B",
        "tags": [
          "Пользователи"
        ]
      }
    },
    "/hs/catalog/v2/user/{id}": {
      "get": {
        "summary": "Данные пользователя",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "show-debt",
            "description": "Показать задолженность",
            "allowEmptyValue": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "userID": "a768b81b-ed7b-11ec-8d88-005056ae85a8",
                        "Менеджер": "Петушков Андрей",
                        "МенеджерТелефон": "",
                        "МенеджерПочта": "",
                        "Недействителен": false,
                        "Логин": "",
                        "Email": "",
                        "КонтактноеЛицо": "Денис Малейко",
                        "Телефон": "",
                        "ТелефонSMS": "+375 (29) 134-62-96",
                        "Почта": "den.1990@bk.ru",
                        "Договоры": [
                          {
                            "ContractID": "0000263625",
                            "Наименование": "000004 от 01.01.2021",
                            "НомерДоговора": "000004",
                            "Организация": "ТрайдексБелПлюс ООО",
                            "ОрганизацияКод": 1,
                            "ДатаДоговора": "2021-01-01T00:00:00",
                            "ВалютаДоговора": "BYN",
                            "ВидЦены": "VIP_БН",
                            "ЦенаВключаетНДС": true,
                            "КонтрагентКод": "0000018195",
                            "Контрагент": "ЗАО \"Облрапсагросервис\"",
                            "СрокРезерва": 3,
                            "СтоимостьРезерва": 0,
                            "НаличныйРасчет": false,
                            "БалансДоговора": 1944.91
                          }
                        ]
                      }
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Отработало или нет"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string",
                          "description": "ID пользователя"
                        },
                        "Менеджер": {
                          "type": "string"
                        },
                        "МенеджерТелефон": {
                          "type": "string"
                        },
                        "МенеджерПочта": {
                          "type": "string"
                        },
                        "Недействителен": {
                          "type": "boolean"
                        },
                        "Логин": {
                          "type": "string"
                        },
                        "Email": {
                          "type": "string"
                        },
                        "КонтактноеЛицо": {
                          "type": "string"
                        },
                        "Телефон": {
                          "type": "string"
                        },
                        "ТелефонSMS": {
                          "type": "string"
                        },
                        "Почта": {
                          "type": "string"
                        },
                        "Договоры": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ContractID": {
                                "type": "string",
                                "description": "Код договора"
                              },
                              "Наименование": {
                                "type": "string"
                              },
                              "НомерДоговора": {
                                "type": "string"
                              },
                              "Организация": {
                                "type": "string"
                              },
                              "ОрганизацияКод": {
                                "type": "integer"
                              },
                              "ДатаДоговора": {
                                "type": "string"
                              },
                              "ВалютаДоговора": {
                                "type": "string"
                              },
                              "ВидЦены": {
                                "type": "string"
                              },
                              "ЦенаВключаетНДС": {
                                "type": "boolean"
                              },
                              "КонтрагентКод": {
                                "type": "string"
                              },
                              "Контрагент": {
                                "type": "string"
                              },
                              "СрокРезерва": {
                                "type": "integer"
                              },
                              "СтоимостьРезерва": {
                                "type": "integer"
                              },
                              "НаличныйРасчет": {
                                "type": "boolean"
                              },
                              "БалансДоговора": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                },
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "userID": "a768b81b-ed7b-11ec-8d88-005056ae85a8",
                        "Менеджер": "Петушков Андрей",
                        "МенеджерТелефон": "",
                        "МенеджерПочта": "",
                        "Недействителен": false,
                        "Логин": "",
                        "Email": "",
                        "КонтактноеЛицо": "Денис Малейко",
                        "Телефон": "",
                        "ТелефонSMS": "+375 (29) 134-62-96",
                        "Почта": "den.1990@bk.ru",
                        "Договоры": [
                          {
                            "ContractID": "0000263625",
                            "Наименование": "000004 от 01.01.2021",
                            "НомерДоговора": "000004",
                            "Организация": "ТрайдексБелПлюс ООО",
                            "ОрганизацияКод": 1,
                            "ДатаДоговора": "2021-01-01T00:00:00",
                            "ВалютаДоговора": "BYN",
                            "ВидЦены": "VIP_БН",
                            "ЦенаВключаетНДС": true,
                            "КонтрагентКод": "0000018195",
                            "Контрагент": "ЗАО \"Облрапсагросервис\"",
                            "СрокРезерва": 3,
                            "СтоимостьРезерва": 0,
                            "НаличныйРасчет": false,
                            "БалансДоговора": 1944.91
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получить данные пользователя",
        "tags": [
          "Пользователи"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID пользователя"
        }
      ]
    },
    "/hs/catalog/v2/users": {
      "get": {
        "summary": "Список всех пользователей",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Все пользователи B2B",
        "tags": [
          "Пользователи"
        ]
      }
    },
    "/hs/catalog/v2/item/{id}": {
      "get": {
        "summary": "Карточка номенклатуры",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "",
        "tags": [
          "Номенклатура"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Код номенклатуры"
        }
      ]
    },
    "/hs/catalog/v2/items": {
      "post": {
        "summary": "Номенклатура",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "operationId": "",
        "description": "Получение списка номенклатуры.\n\nДополнительные поля вывода (fields):\n\"НоменклатураОригинал.Код\" - Оригинальная номенклатура для категорийного товара;\n\"флагТоварДубль\" - индикатор дублирующего товара (\"Да\" или \"Нет\");\n\"СсылкаНаТоварОригинал.Код\" - Код товара оригинала, если это товар-дубль;",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "fields": [
                      "ГарантийныйСрок"
                    ],
                    "group": "0000000001",
                    "items": [
                      "0000156038"
                    ]
                  }
                },
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "ID пользователя"
                  },
                  "contractID": {
                    "type": "string",
                    "description": "ID договора"
                  },
                  "group": {
                    "type": "string",
                    "description": "Группа номенклатуры (0000000001 - вся номенклатура)"
                  },
                  "fields": {
                    "type": "array",
                    "description": "Дополнительные поля вывода.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "Список номенклатуры",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "userID",
                  "contractID"
                ]
              },
              "examples": {
                "Вся номенклатура": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "fields": [
                      "ГарантийныйСрок"
                    ],
                    "group": "0000000001"
                  }
                },
                "Список номенклатуры": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "items": [
                      "0000156038",
                      "0000213872"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Номенклатура"
        ],
        "x-internal": false
      },
      "parameters": []
    },
    "/hs/catalog/v2/price": {
      "post": {
        "summary": "Прайс",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "currency": "BYN",
                        "price_type": "Вид цены 0000000022",
                        "items": [
                          {
                            "id": "0000002947",
                            "name": "Номенклатура 0000002947",
                            "type_id": "",
                            "type_name": "",
                            "catalog_id": 234536,
                            "markups": "",
                            "price": 4.8,
                            "rrc": 0,
                            "qt": 176,
                            "warranty": 12
                          }
                        ]
                      }
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "Валюта"
                        },
                        "price_type": {
                          "type": "string",
                          "description": "Тип цены"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Код номенклатуры"
                              },
                              "name": {
                                "type": "string",
                                "description": "Название номенклатуры"
                              },
                              "type_id": {
                                "type": "string",
                                "description": "Код характеристики"
                              },
                              "type_name": {
                                "type": "string",
                                "description": "Название характеристики"
                              },
                              "catalog_id": {
                                "type": "integer",
                                "description": "ID Catalog.app"
                              },
                              "markups": {
                                "type": "string",
                                "description": "Наценка"
                              },
                              "price": {
                                "type": "number",
                                "description": "Цена"
                              },
                              "rrc": {
                                "type": "integer",
                                "description": "РРЦ"
                              },
                              "qt": {
                                "type": "integer",
                                "description": "Количество"
                              },
                              "warranty": {
                                "type": "integer",
                                "description": "Гарантия, мес"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "ok": true,
                      "result": {
                        "currency": "BYN",
                        "price_type": "Вид цены 0000000022",
                        "items": [
                          {
                            "id": "0000002947",
                            "name": "Номенклатура 0000002947",
                            "type_id": "",
                            "type_name": "",
                            "catalog_id": 234536,
                            "markups": "",
                            "price": 4.8,
                            "rrc": 0,
                            "qt": 176,
                            "warranty": 12
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-price",
        "description": "Получение прайса",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID": {
                    "type": "string"
                  },
                  "contractID": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170"
                  }
                }
              },
              "examples": {
                "Запрос": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Номенклатура"
        ]
      },
      "parameters": []
    },
    "/hs/catalog/v2/items-markups - copy": {
      "post": {
        "summary": "Наценки",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Example 1": {
                    "value": {
                      "ok": true,
                      "result": [
                        {
                          "КодНоменклатуры": "0000002947",
                          "НаименованиеНоменклатуры": "Номенклатура 0000002947",
                          "КодХарактеристики": "",
                          "НаименованиеХарактеристики": "",
                          "idCatalog": 234536,
                          "НадбавкаСправочно": "20"
                        },
                        {
                          "КодНоменклатуры": "0000002948",
                          "НаименованиеНоменклатуры": "Номенклатура 0000002948",
                          "КодХарактеристики": "",
                          "НаименованиеХарактеристики": "",
                          "idCatalog": 234537,
                          "НадбавкаСправочно": "12"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": [
                        {
                          "КодНоменклатуры": "0000002947",
                          "НаименованиеНоменклатуры": "Номенклатура 0000002947",
                          "КодХарактеристики": "",
                          "НаименованиеХарактеристики": "",
                          "idCatalog": 234536,
                          "НадбавкаСправочно": ""
                        },
                        {
                          "КодНоменклатуры": "0000002948",
                          "НаименованиеНоменклатуры": "Номенклатура 0000002948",
                          "КодХарактеристики": "",
                          "НаименованиеХарактеристики": "",
                          "idCatalog": 234537,
                          "НадбавкаСправочно": ""
                        }
                      ]
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "КодНоменклатуры": {
                            "type": "string"
                          },
                          "НаименованиеНоменклатуры": {
                            "type": "string"
                          },
                          "КодХарактеристики": {
                            "type": "string"
                          },
                          "НаименованиеХарактеристики": {
                            "type": "string"
                          },
                          "idCatalog": {
                            "type": "integer"
                          },
                          "НадбавкаСправочно": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-items-markups",
        "description": "Получение наценок для номенклатуры",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "userID": "9369ef57-31d6-11ee-8d95-005056ae85a8",
                    "contractID": "0000263897",
                    "Холдинг": true,
                    "Заказное": true,
                    "Категорийное": true,
                    "ЗаказноеЦенаВключаетНДС": true,
                    "ЗаказноеОплатаНаличными": true
                  }
                },
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "id пользователя"
                  },
                  "contractID": {
                    "type": "string",
                    "description": "код договора"
                  },
                  "Холдинг": {
                    "type": "boolean",
                    "description": "Отображать товары холдинга. По умолчанию: false"
                  },
                  "Заказное": {
                    "type": "boolean",
                    "description": "Отображать заказные товары. По умолчанию: false"
                  },
                  "Категорийное": {
                    "type": "boolean",
                    "description": "Отображать категорийные товары. По умолчанию: true"
                  },
                  "ЗаказноеЦенаВключаетНДС": {
                    "type": "boolean",
                    "description": "По умолчанию: false"
                  },
                  "ЗаказноеОплатаНаличными": {
                    "type": "boolean",
                    "description": "По умолчанию: false"
                  }
                },
                "required": [
                  "userID"
                ]
              },
              "examples": {
                "Запрос": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Номенклатура"
        ],
        "x-stoplight": {
          "id": "l7fxpn79pmpvi"
        }
      },
      "parameters": []
    },
    "/hs/catalog/v2/items-all": {
      "get": {
        "summary": "Номенклатура без цен",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "Номенклатура"
        ],
        "deprecated": true
      },
      "parameters": []
    },
    "/hs/catalog/v2/order-status-list": {
      "get": {
        "summary": "Список статусов заказа",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": [
                        "Новый",
                        "Отменен",
                        "Отменен менеджером",
                        "В резерве",
                        "В резерве частично",
                        "Собирается складом",
                        "Ожидает доставки",
                        "В доставке",
                        "Ожидает клиента",
                        "Выполнен",
                        "Удалён"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": [
                        "Новый",
                        "Отменен",
                        "Отменен менеджером",
                        "В резерве",
                        "В резерве частично",
                        "Собирается складом",
                        "Ожидает доставки",
                        "В доставке",
                        "Ожидает клиента",
                        "Выполнен",
                        "Удалён"
                      ]
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "description": "Список статусов",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        },
        "description": "Доступные статусы заказа",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/partner/{id}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Контрагенты",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "Код": "0000000041",
                        "Наименование": "ПРИКОЛОВ\"",
                        "ЮридическоеНаименование": "ОДО \"ПРИКОЛОВ\"",
                        "АдресЮридический": "220000 г. Минск, пер. Уральский, 17-555",
                        "АдресРазгрузкиТТН": "",
                        "УНП": "190788525",
                        "ОКПО": "3771188050",
                        "Email": "pricolov@mail.ru",
                        "АдресРазгрузкиФактический": "",
                        "АдресПочтовый": ""
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "Код": "0000000041",
                        "Наименование": "ПРИКОЛОВ\"",
                        "ЮридическоеНаименование": "ОДО \"ПРИКОЛОВ\"",
                        "АдресЮридический": "220000 г. Минск, пер. Уральский, 17-555",
                        "АдресРазгрузкиТТН": "",
                        "УНП": "190788525",
                        "ОКПО": "3771188050",
                        "Email": "pricolov@mail.ru",
                        "АдресРазгрузкиФактический": "",
                        "АдресПочтовый": ""
                      }
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "Код": {
                          "type": "string"
                        },
                        "Наименование": {
                          "type": "string"
                        },
                        "ЮридическоеНаименование": {
                          "type": "string"
                        },
                        "АдресЮридический": {
                          "type": "string"
                        },
                        "АдресРазгрузкиТТН": {
                          "type": "string"
                        },
                        "УНП": {
                          "type": "string"
                        },
                        "ОКПО": {
                          "type": "string"
                        },
                        "Email": {
                          "type": "string"
                        },
                        "АдресРазгрузкиФактический": {
                          "type": "string"
                        },
                        "АдресПочтовый": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        },
        "description": "Получение данных по контрагенту"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "ID контрагента",
          "required": true
        }
      ]
    },
    "/hs/catalog/v2/order/{id}": {
      "post": {
        "summary": "Получить заказ покупателя",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "ID": "87c6d773-ee27-11ec-8d88-005056ae85a8",
                        "Номер": "0000077412",
                        "Дата": "2022-06-29T14:48:00",
                        "ДатаСоздания": "2022-06-17T13:23:30",
                        "Менеджер": "Марачковский Владимир",
                        "КодДоговора": "0000264170",
                        "КодКонтрагента": "0000014914",
                        "НаименованиеКонтрагента": "1_Григорий",
                        "Валюта": "USD",
                        "СуммаНДС": 0,
                        "СуммаДокумента": 1200,
                        "СуммаРезерва": 1400,
                        "Комментарий": "",
                        "КомментарийСклад": "\n",
                        "ПометкаУдаления": false,
                        "Проведен": true,
                        "Стартован": false,
                        "СтатусWMS": "Новый",
                        "ВидДоставки": "Самовывоз",
                        "Статус": "В резерве частично",
                        "Водитель": "",
                        "Телефон": "",
                        "Автомобиль": "",
                        "СписанМенеджером": "",
                        "ОтгруженСкладом": "",
                        "ПринятВодителем": "",
                        "ДоставленВодителем": "",
                        "ДатаИстеченияРезерва": "2022-06-30T05:36:00",
                        "Товары": [
                          {
                            "НоменклатураКод": "0000210949",
                            "idCatalog": 0,
                            "НоменклатураНаименование": "ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)",
                            "ХарактеристикаКод": "",
                            "ХарактеристикаНаименование": "",
                            "idЗаказное": "",
                            "Количество": 3,
                            "КоличествоРезерв": 3,
                            "Всего": 600,
                            "Цена": 200
                          },
                          {
                            "НоменклатураКод": "0000214380",
                            "idCatalog": 191381,
                            "НоменклатураНаименование": "Philips 34\" 345E2AE/00 (21:9, IPS 4K 75Hz, Adaptive Sync, HAS, 2xHDMI, DP, speakers)",
                            "ХарактеристикаКод": "",
                            "ХарактеристикаНаименование": "",
                            "idЗаказное": "",
                            "Количество": 2,
                            "КоличествоРезерв": 2,
                            "Всего": 600,
                            "Цена": 300
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string"
                        },
                        "Номер": {
                          "type": "string"
                        },
                        "Дата": {
                          "type": "string"
                        },
                        "ДатаСоздания": {
                          "type": "string"
                        },
                        "Менеджер": {
                          "type": "string"
                        },
                        "КодДоговора": {
                          "type": "string"
                        },
                        "КодКонтрагента": {
                          "type": "string"
                        },
                        "НаименованиеКонтрагента": {
                          "type": "string"
                        },
                        "Валюта": {
                          "type": "string"
                        },
                        "СуммаНДС": {
                          "type": "integer"
                        },
                        "СуммаДокумента": {
                          "type": "integer"
                        },
                        "СуммаРезерва": {
                          "type": "integer"
                        },
                        "Комментарий": {
                          "type": "string"
                        },
                        "КомментарийСклад": {
                          "type": "string"
                        },
                        "ПометкаУдаления": {
                          "type": "boolean"
                        },
                        "Проведен": {
                          "type": "boolean"
                        },
                        "Стартован": {
                          "type": "boolean"
                        },
                        "СтатусWMS": {
                          "type": "string"
                        },
                        "ВидДоставки": {
                          "type": "string"
                        },
                        "Статус": {
                          "type": "string"
                        },
                        "Водитель": {
                          "type": "string"
                        },
                        "Телефон": {
                          "type": "string"
                        },
                        "Автомобиль": {
                          "type": "string"
                        },
                        "СписанМенеджером": {
                          "type": "string"
                        },
                        "ОтгруженСкладом": {
                          "type": "string"
                        },
                        "ПринятВодителем": {
                          "type": "string"
                        },
                        "ДоставленВодителем": {
                          "type": "string"
                        },
                        "ДатаИстеченияРезерва": {
                          "type": "string"
                        },
                        "Товары": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "НоменклатураКод": {
                                "type": "string"
                              },
                              "idCatalog": {
                                "type": "integer"
                              },
                              "НоменклатураНаименование": {
                                "type": "string"
                              },
                              "ХарактеристикаКод": {
                                "type": "string"
                              },
                              "ХарактеристикаНаименование": {
                                "type": "string"
                              },
                              "idЗаказное": {
                                "type": "string"
                              },
                              "Количество": {
                                "type": "integer"
                              },
                              "КоличествоРезерв": {
                                "type": "integer"
                              },
                              "Всего": {
                                "type": "integer"
                              },
                              "Цена": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "ID": "87c6d773-ee27-11ec-8d88-005056ae85a8",
                        "Номер": "0000077412",
                        "Дата": "2022-06-29T14:48:00",
                        "ДатаСоздания": "2022-06-17T13:23:30",
                        "Менеджер": "Марачковский Владимир",
                        "КодДоговора": "0000264170",
                        "КодКонтрагента": "0000014914",
                        "НаименованиеКонтрагента": "1_Григорий",
                        "Валюта": "USD",
                        "СуммаНДС": 0,
                        "СуммаДокумента": 1200,
                        "СуммаРезерва": 1400,
                        "Комментарий": "",
                        "КомментарийСклад": "\n",
                        "ПометкаУдаления": false,
                        "Проведен": true,
                        "Стартован": false,
                        "СтатусWMS": "Новый",
                        "ВидДоставки": "Самовывоз",
                        "Статус": "В резерве частично",
                        "Водитель": "",
                        "Телефон": "",
                        "Автомобиль": "",
                        "СписанМенеджером": "",
                        "ОтгруженСкладом": "",
                        "ПринятВодителем": "",
                        "ДоставленВодителем": "",
                        "ДатаИстеченияРезерва": "2022-06-30T05:36:00",
                        "Товары": [
                          {
                            "НоменклатураКод": "0000210949",
                            "idCatalog": 0,
                            "НоменклатураНаименование": "ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)",
                            "ХарактеристикаКод": "",
                            "ХарактеристикаНаименование": "",
                            "idЗаказное": "",
                            "Количество": 3,
                            "КоличествоРезерв": 3,
                            "Всего": 600,
                            "Цена": 200
                          },
                          {
                            "НоменклатураКод": "0000214380",
                            "idCatalog": 191381,
                            "НоменклатураНаименование": "Philips 34\" 345E2AE/00 (21:9, IPS 4K 75Hz, Adaptive Sync, HAS, 2xHDMI, DP, speakers)",
                            "ХарактеристикаКод": "",
                            "ХарактеристикаНаименование": "",
                            "idЗаказное": "",
                            "Количество": 2,
                            "КоличествоРезерв": 2,
                            "Всего": 600,
                            "Цена": 300
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": "Получение заказа покупателя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c"
                  }
                },
                "properties": {
                  "userID": {
                    "type": "string"
                  }
                },
                "required": [
                  "userID"
                ]
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Изменить заказ покупателя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "Header": {
                      "thisService": true,
                      "contractID": "0000264170",
                      "Address": "Коммунистическая",
                      "Comment": "Это тест API"
                    },
                    "Items": [
                      {
                        "PRODUCT_ID": "0000214380",
                        "NUMBER_ID": "",
                        "COUNT": 1
                      },
                      {
                        "idCatalog": "277371",
                        "COUNT": 1
                      },
                      {
                        "idЗаказное": "123123123",
                        "COUNT": 1
                      }
                    ],
                    "delivery": {
                      "date": "2021-05-03T00:00:00",
                      "city": 50000000000000,
                      "route": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                    }
                  }
                },
                "properties": {
                  "Header": {
                    "type": "object",
                    "required": [
                      "userID",
                      "contractID",
                      "Address",
                      "Comment"
                    ],
                    "properties": {
                      "userID": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "k1hwuqqox8b5a"
                        }
                      },
                      "contractID": {
                        "type": "string"
                      },
                      "Address": {
                        "type": "string"
                      },
                      "Comment": {
                        "type": "string"
                      }
                    }
                  },
                  "Items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "PRODUCT_ID": {
                          "type": "string"
                        },
                        "NUMBER_ID": {
                          "type": "string",
                          "description": "Код характеристики"
                        },
                        "COUNT": {
                          "type": "integer"
                        },
                        "idCatalog": {
                          "type": "string",
                          "description": "ID catalog.app"
                        },
                        "idЗаказное": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "COUNT"
                      ]
                    }
                  },
                  "delivery": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "city": {
                        "type": "integer"
                      },
                      "route": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "Header",
                  "Items"
                ]
              },
              "examples": {
                "Пример с доставкой": {
                  "value": {
                    "Header": {
                      "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                      "contractID": "0000264170",
                      "Address": "Коммунистическая",
                      "Comment": "Это тест API"
                    },
                    "Items": [
                      {
                        "PRODUCT_ID": "0000210949",
                        "NUMBER_ID": "",
                        "COUNT": 1
                      }
                    ],
                    "delivery": {
                      "date": "2021-05-03T00:00:00",
                      "city": 50000000000000,
                      "route": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                    }
                  }
                },
                "Пример самовывоз": {
                  "value": {
                    "Header": {
                      "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                      "contractID": "0000264170",
                      "Address": "Коммунистическая",
                      "Comment": "Это тест API"
                    },
                    "Items": [
                      {
                        "PRODUCT_ID": "0000210949",
                        "NUMBER_ID": "",
                        "COUNT": 1
                      }
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": ""
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": false,
                      "result": {
                        "orderID": "0000077507"
                      },
                      "ErrorCode": "5",
                      "Error": "Ошибка проведения документа: \nТовары на складах: Нет остатка для резервирования!\n\tОрганизация: ТрайдексБелПлюс ООО\n\tНоменклатура: [ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)] 0000210949\n\tХарактеристика: \n\tТребуется: 1\n\tВ Наличии: 0\n\tВ Резервах: 21\n\nТовары на складах: Нет остатка для резервирования!\n\tОрганизация: ТрайдексБелПлюс ООО\n\tНоменклатура: [ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)] 0000210949\n\tХарактеристика: \n\tТребуется: 1\n\tВ Наличии: 0\n\tВ Резервах: 21\n"
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "orderID": {
                          "type": "string"
                        }
                      }
                    },
                    "ErrorCode": {
                      "type": "string"
                    },
                    "Error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                },
                "examples": {
                  "Пример с ошибкой": {
                    "value": {
                      "ok": false,
                      "result": {
                        "orderID": "0000077507"
                      },
                      "ErrorCode": "5",
                      "Error": "Ошибка проведения документа: \nТовары на складах: Нет остатка для резервирования!\n\tОрганизация: ТрайдексБелПлюс ООО\n\tНоменклатура: [ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)] 0000210949\n\tХарактеристика: \n\tТребуется: 1\n\tВ Наличии: 0\n\tВ Резервах: 21\n\nТовары на складах: Нет остатка для резервирования!\n\tОрганизация: ТрайдексБелПлюс ООО\n\tНоменклатура: [ViewSonic 27\" VG2748 (16:9, IPS, HAS, VGA, HDMI, DP, USB)] 0000210949\n\tХарактеристика: \n\tТребуется: 1\n\tВ Наличии: 0\n\tВ Резервах: 21\n"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": "Изменение заказа покупателя"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Номер заказа"
        }
      ],
      "delete": {
        "summary": "Удалить заказ",
        "responses": {
          "200": {
            "description": "{\n    \"ok\": true,\n    \"result\": {\n        \"ПометкаУдаления\": true\n    }\n}",
            "headers": {}
          }
        },
        "description": "Поставить / убрать пометку на удаление",
        "tags": [
          "order"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "removeDelete",
            "description": "Указываем, если нужно снять пометку удаления"
          }
        ]
      }
    },
    "/hs/catalog/v2/orders": {
      "post": {
        "summary": "Список заказов",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "В резерве",
            "description": "Статусы через запятую. Можно получить в запросе order-status-list"
          },
          {
            "schema": {
              "type": "string",
              "example": "20211231"
            },
            "in": "query",
            "name": "DateTo",
            "description": "До определённой даты"
          },
          {
            "schema": {
              "type": "string",
              "example": "20200601"
            },
            "in": "query",
            "name": "DateFrom",
            "description": "От определённой даты"
          },
          {
            "schema": {
              "type": "string",
              "example": "20220624"
            },
            "in": "query",
            "name": "reserve-end",
            "description": "окончание резерва"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string"
                          },
                          "Номер": {
                            "type": "string"
                          },
                          "Дата": {
                            "type": "string"
                          },
                          "ДатаСоздания": {
                            "type": "string"
                          },
                          "Менеджер": {
                            "type": "string"
                          },
                          "КодДоговора": {
                            "type": "string"
                          },
                          "КодКонтрагента": {
                            "type": "string"
                          },
                          "НаименованиеКонтрагента": {
                            "type": "string"
                          },
                          "Валюта": {
                            "type": "string"
                          },
                          "СуммаНДС": {
                            "type": "integer"
                          },
                          "СуммаДокумента": {
                            "type": "integer"
                          },
                          "СуммаРезерва": {
                            "type": "integer"
                          },
                          "Комментарий": {
                            "type": "string"
                          },
                          "КомментарийСклад": {
                            "type": "string"
                          },
                          "ПометкаУдаления": {
                            "type": "boolean"
                          },
                          "Проведен": {
                            "type": "boolean"
                          },
                          "Стартован": {
                            "type": "boolean"
                          },
                          "СтатусWMS": {
                            "type": "string"
                          },
                          "ВидДоставки": {
                            "type": "string"
                          },
                          "Статус": {
                            "type": "string"
                          },
                          "Водитель": {
                            "type": "string"
                          },
                          "Телефон": {
                            "type": "string"
                          },
                          "Автомобиль": {
                            "type": "string"
                          },
                          "СписанМенеджером": {
                            "type": "string"
                          },
                          "ОтгруженСкладом": {
                            "type": "string"
                          },
                          "ПринятВодителем": {
                            "type": "string"
                          },
                          "ДоставленВодителем": {
                            "type": "string"
                          },
                          "ДатаИстеченияРезерва": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": [
                        {
                          "ID": "87c6d773-ee27-11ec-8d88-005056ae85a8",
                          "Номер": "0000077412",
                          "Дата": "2022-06-29T14:48:00",
                          "ДатаСоздания": "2022-06-17T13:23:30",
                          "Менеджер": "Марачковский Владимир",
                          "КодДоговора": "0000264170",
                          "КодКонтрагента": "0000014914",
                          "НаименованиеКонтрагента": "1_Григорий",
                          "Валюта": "USD",
                          "СуммаНДС": 0,
                          "СуммаДокумента": 1200,
                          "СуммаРезерва": 1400,
                          "Комментарий": "",
                          "КомментарийСклад": "\n",
                          "ПометкаУдаления": false,
                          "Проведен": true,
                          "Стартован": false,
                          "СтатусWMS": "Новый",
                          "ВидДоставки": "Самовывоз",
                          "Статус": "В резерве частично",
                          "Водитель": "",
                          "Телефон": "",
                          "Автомобиль": "",
                          "СписанМенеджером": "",
                          "ОтгруженСкладом": "",
                          "ПринятВодителем": "",
                          "ДоставленВодителем": "",
                          "ДатаИстеченияРезерва": "2022-06-30T05:36:00"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": [
                        {
                          "ID": "87c6d773-ee27-11ec-8d88-005056ae85a8",
                          "Номер": "0000077412",
                          "Дата": "2022-06-29T14:48:00",
                          "ДатаСоздания": "2022-06-17T13:23:30",
                          "Менеджер": "Марачковский Владимир",
                          "КодДоговора": "0000264170",
                          "КодКонтрагента": "0000014914",
                          "НаименованиеКонтрагента": "1_Григорий",
                          "Валюта": "USD",
                          "СуммаНДС": 0,
                          "СуммаДокумента": 1200,
                          "СуммаРезерва": 1400,
                          "Комментарий": "",
                          "КомментарийСклад": "\n",
                          "ПометкаУдаления": false,
                          "Проведен": true,
                          "Стартован": false,
                          "СтатусWMS": "Новый",
                          "ВидДоставки": "Самовывоз",
                          "Статус": "В резерве частично",
                          "Водитель": "",
                          "Телефон": "",
                          "Автомобиль": "",
                          "СписанМенеджером": "",
                          "ОтгруженСкладом": "",
                          "ПринятВодителем": "",
                          "ДоставленВодителем": "",
                          "ДатаИстеченияРезерва": "2022-06-30T05:36:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": "Получение списка заказов",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "users": [
                      {
                        "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                        "contractID": "0000264170"
                      },
                      {
                        "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                        "contractID": "0000264170"
                      }
                    ]
                  }
                },
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Два пользователя": {
                  "value": {
                    "users": [
                      {
                        "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c"
                      },
                      {
                        "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/hs/catalog/v2/order-merge": {
      "post": {
        "summary": "Объеденить заказы",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                  "contractID": "0000264170",
                  "destination": "0000077488",
                  "sources": [
                    "0000077490"
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": ""
      }
    },
    "/hs/catalog/v2/supplier-order": {
      "put": {
        "summary": "Создать заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 10,
                      "СтранаВвозаКодАльфа2": "CN"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 3,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "Token": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/supplier-order/{id}": {
      "get": {
        "summary": "Заказ поставщику",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получить заказ поставщику",
        "tags": [
          "order"
        ]
      },
      "patch": {
        "tags": [
          "default"
        ],
        "summary": "Изменить заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 30,
                      "СтранаВвозаКодАльфа2": "RU",
                      "idЗаказное": "123456"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 30,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY",
                      "idЗаказное": "1234567"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "default"
        ],
        "summary": "Поставить/удалить пометку на удаление в заказе поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "Заказ поставщику",
          "required": true
        }
      ]
    },
    "/hs/catalog/v2/supplier-orders": {
      "get": {
        "summary": "(не работает) Получить все заказы поставщику",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "deprecated": true,
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/suppliers/{unp}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список поставщиков",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Список поставщиков по организации"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "unp",
          "in": "path",
          "required": true,
          "description": "УНП организации"
        }
      ]
    },
    "/hs/catalog/v2/countries": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список стран",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получение списка стран"
      }
    },
    "/hs/catalog/v2/report/user-history": {
      "get": {
        "summary": "Отчёт о движениях пользователя",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "35b3c790-4456-11eb-a8aa-0050568e457c",
            "description": "ID пользователя"
          },
          {
            "name": "contractID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0000263922",
            "description": "Код договора"
          },
          {
            "name": "dateBegin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210601",
            "description": "Дата начала"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210722",
            "description": "Дата окончания"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Выписка по заказу пользователя",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/routes": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список маршрутов",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": [
                        {
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9",
                          "cities": [
                            {
                              "city": "Минск",
                              "cityID": 50000000000000
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": [
                        {
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9",
                          "cities": [
                            {
                              "city": "Минск",
                              "cityID": 50000000000000
                            }
                          ]
                        }
                      ],
                      "ErrorCode": "5",
                      "Error": "Уже есть пользователь с таким логином"
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "route": {
                            "type": "string",
                            "description": "Название маршрута"
                          },
                          "routeID": {
                            "type": "string",
                            "description": "ID марш"
                          },
                          "cities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "Название города"
                                },
                                "cityID": {
                                  "type": "integer",
                                  "description": "ID города"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ErrorCode": {
                      "type": "string"
                    },
                    "Error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение справочника маршрутов"
      }
    },
    "/hs/catalog/v2/delivery-route": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Ближайшие маршруты доставки по городу",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1",
            "description": "Код организации"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "50000000000000",
            "description": "Код города"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210503",
            "description": "Дата "
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": [
                        {
                          "date": "2021-05-03T00:00:00",
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                        },
                        {
                          "date": "2021-05-04T00:00:00",
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": [
                        {
                          "date": "2021-05-03T00:00:00",
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                        },
                        {
                          "date": "2021-05-04T00:00:00",
                          "route": "Минск",
                          "routeID": "e19d6325-9063-11ea-a870-000c29f9ebc9"
                        }
                      ],
                      "ErrorCode": "5",
                      "Error": "Уже есть пользователь с таким логином"
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Дата"
                          },
                          "route": {
                            "type": "string",
                            "description": "Название маршрута"
                          },
                          "routeID": {
                            "type": "string",
                            "description": "ID маршрута"
                          }
                        }
                      }
                    },
                    "ErrorCode": {
                      "type": "string"
                    },
                    "Error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        },
        "description": ""
      }
    },
    "/hs/catalog/v2/order-start/{id}": {
      "post": {
        "summary": "Старт продажи",
        "operationId": "post-hs-catalog-v2-order-start",
        "responses": {
          "200": {
            "description": "{\n    \"ok\": false,\n    \"result\": null,\n    \"ErrorCode\": \"5\",\n    \"Error\": \"Продажа id:0000039231 ошибка: \\nСумма кредита по договору превышена!\\n\\n\\tОрганизация: ЧасБыка ООО\\n\\tКонтрагент: 1_Григорий\\n\\tДоговор: Долгосроч.1\\n\\nДт\\n\\tБаланс: 1,2\\n\\tКредит: 1 000\\n\\nКт\\n\\tТекущая продажа: 361,6\\n\\tПрочие продажи: 935\\n\\nΣ\\n\\tПревышение: 295,4\\n\"\n}"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "userID",
            "description": "GUID пользователя B2B"
          }
        ],
        "description": "Стартовать продажу по заказу покупателя. \nЗаказ покупателя должен быть проведён, зарезервированы товары и бизнес-процесс не должен быть стартован.\n\nЕсли во время запуска продажи появится ошибка, она выведется в блоке Error, продемонстрировано в примере.\nПри успешном старте продажи вернётся saleID.",
        "tags": [
          "order"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "ID заказа покупателя",
          "required": true
        }
      ]
    }
  },
  "x-internal": false
}
