{
  "openapi": "3.0.0",
  "info": {
    "title": "B2B Taxi v2",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://main.tdx.by/prg04"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "B2B / B2B"
      },
      "Token": {
        "name": "Token",
        "type": "apiKey",
        "in": "header",
        "description": "Токен получаемый с запроса авторизации. Пример = 9F1159B7E67F141ECCE70995AE03281AFC9355AE"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "Token": []
    }
  ],
  "paths": {
    "/hs/catalog/v2/user": {
      "put": {
        "summary": "Создать пользователя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Логин": {
                    "type": "string"
                  },
                  "ИНН": {
                    "type": "string"
                  },
                  "КонтактноеЛицо": {
                    "type": "string"
                  },
                  "МобильныйТелефонРБ": {
                    "type": "string"
                  },
                  "НаименованиеОрганизации": {
                    "type": "string"
                  },
                  "Почта": {
                    "type": "string"
                  },
                  "АдресДоставки": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "Логин": "max_6",
                    "ИНН": "000000000000",
                    "КонтактноеЛицо": "Шелест",
                    "МобильныйТелефонРБ": "+375295555555",
                    "НаименованиеОрганизации": "Трололо",
                    "Почта": "max@gmail.com",
                    "АдресДоставки": "пер.Козлова, 25"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "Логин": "test",
                    "ИНН": "000000000000",
                    "КонтактноеЛицо": "Дзержинский",
                    "МобильныйТелефонРБ": "+375295555555",
                    "НаименованиеОрганизации": "РогаИКопыта",
                    "Почта": "lenin@gmail.com",
                    "АдресДоставки": "пер.Коммунистический, 25"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "userID": "8e409f7a-be89-11ed-8d92-005056ae85a8"
                      },
                      "ErrorCode": "5",
                      "Error": "Текст ошибки"
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Отработало или нет"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string",
                          "description": "ID пользователя"
                        }
                      }
                    },
                    "Error": {
                      "type": "string",
                      "description": "Описание ошибки"
                    },
                    "ErrorCode": {
                      "type": "string",
                      "description": "Код ошибки"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                },
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "userID": "8e409f7a-be89-11ed-8d92-005056ae85a8"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ],
        "description": "Регистрация нового пользователя B2B"
      }
    },
    "/hs/catalog/v2/user/{id}": {
      "get": {
        "summary": "Данные пользователя",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "ok": true,
                      "result": {
                        "userID": "a768b81b-ed7b-11ec-8d88-005056ae85a8",
                        "Менеджер": "Петушков Андрей",
                        "МенеджерТелефон": "",
                        "МенеджерПочта": "",
                        "Недействителен": false,
                        "Логин": "",
                        "Email": "",
                        "КонтактноеЛицо": "Денис Малейко",
                        "Телефон": "",
                        "ТелефонSMS": "+375 (29) 134-62-96",
                        "Почта": "den.1990@bk.ru",
                        "Договоры": [
                          {
                            "ContractID": "0000263625",
                            "Наименование": "000004 от 01.01.2021",
                            "НомерДоговора": "000004",
                            "Организация": "ТрайдексБелПлюс ООО",
                            "ОрганизацияКод": 1,
                            "ДатаДоговора": "2021-01-01T00:00:00",
                            "ВалютаДоговора": "BYN",
                            "ВидЦены": "VIP_БН",
                            "ЦенаВключаетНДС": true,
                            "КонтрагентКод": "0000018195",
                            "Контрагент": "ЗАО \"Облрапсагросервис\"",
                            "СрокРезерва": 3,
                            "СтоимостьРезерва": 0,
                            "НаличныйРасчет": false,
                            "БалансДоговора": 1944.91
                          }
                        ]
                      }
                    }
                  },
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Отработало или нет"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string",
                          "description": "ID пользователя"
                        },
                        "Менеджер": {
                          "type": "string"
                        },
                        "МенеджерТелефон": {
                          "type": "string"
                        },
                        "МенеджерПочта": {
                          "type": "string"
                        },
                        "Недействителен": {
                          "type": "boolean"
                        },
                        "Логин": {
                          "type": "string"
                        },
                        "Email": {
                          "type": "string"
                        },
                        "КонтактноеЛицо": {
                          "type": "string"
                        },
                        "Телефон": {
                          "type": "string"
                        },
                        "ТелефонSMS": {
                          "type": "string"
                        },
                        "Почта": {
                          "type": "string"
                        },
                        "Договоры": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ContractID": {
                                "type": "string",
                                "description": "Код договора"
                              },
                              "Наименование": {
                                "type": "string"
                              },
                              "НомерДоговора": {
                                "type": "string"
                              },
                              "Организация": {
                                "type": "string"
                              },
                              "ОрганизацияКод": {
                                "type": "integer"
                              },
                              "ДатаДоговора": {
                                "type": "string"
                              },
                              "ВалютаДоговора": {
                                "type": "string"
                              },
                              "ВидЦены": {
                                "type": "string"
                              },
                              "ЦенаВключаетНДС": {
                                "type": "boolean"
                              },
                              "КонтрагентКод": {
                                "type": "string"
                              },
                              "Контрагент": {
                                "type": "string"
                              },
                              "СрокРезерва": {
                                "type": "integer"
                              },
                              "СтоимостьРезерва": {
                                "type": "integer"
                              },
                              "НаличныйРасчет": {
                                "type": "boolean"
                              },
                              "БалансДоговора": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                },
                "examples": {
                  "Пример": {
                    "value": {
                      "ok": true,
                      "result": {
                        "userID": "a768b81b-ed7b-11ec-8d88-005056ae85a8",
                        "Менеджер": "Петушков Андрей",
                        "МенеджерТелефон": "",
                        "МенеджерПочта": "",
                        "Недействителен": false,
                        "Логин": "",
                        "Email": "",
                        "КонтактноеЛицо": "Денис Малейко",
                        "Телефон": "",
                        "ТелефонSMS": "+375 (29) 134-62-96",
                        "Почта": "den.1990@bk.ru",
                        "Договоры": [
                          {
                            "ContractID": "0000263625",
                            "Наименование": "000004 от 01.01.2021",
                            "НомерДоговора": "000004",
                            "Организация": "ТрайдексБелПлюс ООО",
                            "ОрганизацияКод": 1,
                            "ДатаДоговора": "2021-01-01T00:00:00",
                            "ВалютаДоговора": "BYN",
                            "ВидЦены": "VIP_БН",
                            "ЦенаВключаетНДС": true,
                            "КонтрагентКод": "0000018195",
                            "Контрагент": "ЗАО \"Облрапсагросервис\"",
                            "СрокРезерва": 3,
                            "СтоимостьРезерва": 0,
                            "НаличныйРасчет": false,
                            "БалансДоговора": 1944.91
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получить данные пользователя",
        "tags": [
          "user"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID пользователя"
        }
      ]
    },
    "/hs/catalog/v2/users": {
      "get": {
        "summary": "Список всех пользователей",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "user"
        ],
        "description": "Все пользователи B2B"
      }
    },
    "/hs/catalog/v2/item/{id}": {
      "get": {
        "summary": "Карточка номенклатуры",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "",
        "tags": [
          "Номенклатура"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Код номенклатуры"
        }
      ]
    },
    "/hs/catalog/v2/items": {
      "post": {
        "summary": "Номенклатура",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "operationId": "",
        "description": "Получение списка номенклатуры",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "fields": [
                      "ГарантийныйСрок"
                    ],
                    "group": "0000000001",
                    "items": [
                      "0000156038"
                    ]
                  }
                },
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "ID пользователя"
                  },
                  "contractID": {
                    "type": "string",
                    "description": "ID договора"
                  },
                  "group": {
                    "type": "string",
                    "description": "Группа номенклатуры (0000000001 - вся номенклатура)"
                  },
                  "fields": {
                    "type": "array",
                    "description": "Дополнительные поля вывода",
                    "items": {
                      "type": "string"
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "Список номенклатуры",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "userID",
                  "contractID"
                ]
              },
              "examples": {
                "Вся номенклатура": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "fields": [
                      "ГарантийныйСрок"
                    ],
                    "group": "0000000001"
                  }
                },
                "Список номенклатуры": {
                  "value": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "items": [
                      "0000156038",
                      "0000213872"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Номенклатура"
        ]
      },
      "parameters": []
    },
    "/hs/catalog/v2/items-all": {
      "get": {
        "summary": "Номенклатура без цен",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "Номенклатура"
        ],
        "deprecated": true
      },
      "parameters": []
    },
    "/hs/catalog/v2/partner/{id}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Контрагенты",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получение списка контрагента или данных по отдельному контрагенту, если указан id"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "ID контрагента"
        }
      ]
    },
    "/hs/catalog/v2/order-status-list": {
      "get": {
        "summary": "Список статусов заказа",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Доступные статусы заказа",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/order/{id}": {
      "get": {
        "summary": "Получить заказ покупателя",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      },
      "patch": {
        "summary": "Изменить заказ покупателя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Header": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "Address": "Коммунистическая",
                    "Comment": "Это тест API"
                  },
                  "Items": [
                    {
                      "PRODUCT_ID": "0000210949",
                      "NUMBER_ID": "",
                      "COUNT": 1
                    },
                    {
                      "idCatalog": 204845,
                      "NUMBER_ID": "",
                      "COUNT": 1,
                      "Цена": 100
                    },
                    {
                      "PRODUCT_ID": "0000214380",
                      "NUMBER_ID": "",
                      "COUNT": 1,
                      "idЗаказное": "213213213213"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Номер заказа"
        }
      ],
      "delete": {
        "summary": "Поставить/удалить пометку на удаление в заказе",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/orders": {
      "get": {
        "summary": "Список заказов",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "В резерве"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": "Получение списка заказов"
      }
    },
    "/hs/catalog/v2/order-merge": {
      "post": {
        "summary": "Объеденить заказы",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                  "contractID": "0000264170",
                  "destination": "0000077488",
                  "sources": [
                    "0000077490"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ],
        "description": ""
      }
    },
    "/hs/catalog/v2/supplier-order": {
      "put": {
        "summary": "Создать заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 10,
                      "СтранаВвозаКодАльфа2": "CN"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 3,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/supplier-order/{id}": {
      "get": {
        "summary": "Заказ поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получить заказ поставщику",
        "tags": [
          "order"
        ]
      },
      "patch": {
        "tags": [
          "default"
        ],
        "summary": "Изменить заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 30,
                      "СтранаВвозаКодАльфа2": "RU",
                      "idЗаказное": "123456"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 30,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY",
                      "idЗаказное": "1234567"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "default"
        ],
        "summary": "Поставить/удалить пометку на удаление в заказе поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "Заказ поставщику",
          "required": true
        }
      ]
    },
    "/hs/catalog/v2/supplier-orders": {
      "get": {
        "summary": "(не работает) Получить все заказы поставщику",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "deprecated": true,
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/suppliers/{unp}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список поставщиков",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Список поставщиков по организации"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "unp",
          "in": "path",
          "required": true,
          "description": "УНП организации"
        }
      ]
    },
    "/hs/catalog/v2/countries": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список стран",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получение списка стран"
      }
    },
    "/hs/catalog/v2/report/user-history": {
      "get": {
        "summary": "Отчёт о движениях пользователя",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "35b3c790-4456-11eb-a8aa-0050568e457c",
            "description": "ID пользователя"
          },
          {
            "name": "contractID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0000263922",
            "description": "Код договора"
          },
          {
            "name": "dateBegin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210601",
            "description": "Дата начала"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210722",
            "description": "Дата окончания"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/routes": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список маршрутов",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": ""
      }
    },
    "/hs/catalog/v2/delivery-route": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Ближайшие маршруты доставки по городу",
        "parameters": [
          {
            "name": "organizationID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1",
            "description": "Код организации"
          },
          {
            "name": "cityID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "50000000000000",
            "description": "Код города"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "20210503",
            "description": "Дата "
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "x-internal": false
}
