{
  "openapi": "3.0.0",
  "info": {
    "title": "B2B Taxi v2",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://main.tdx.by/prg04"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "Token": {
        "name": "Token",
        "type": "apiKey",
        "in": "header",
        "description": "Токен получаемый с запроса авторизации"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "API Key": []
    }
  ],
  "paths": {
    "/hs/catalog/v2/user": {
      "put": {
        "summary": "Создать пользователя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Логин": "max_6",
                  "ИНН": "000000000000",
                  "КонтактноеЛицо": "Шелест",
                  "МобильныйТелефонРБ": "+375295555555",
                  "НаименованиеОрганизации": "Трололо",
                  "Почта": "max@gmail.com",
                  "АдресДоставки": "пер.Козлова, 25"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/hs/catalog/v2/user/{id}": {
      "get": {
        "summary": "Данные пользователя",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получить данные пользователя",
        "tags": [
          "user"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID пользователя"
        }
      ]
    },
    "/hs/catalog/v2/users": {
      "get": {
        "summary": "Список всех пользователей",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/hs/catalog/v2/item/{id}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Карточка номенклатуры",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Код номенклатуры"
        }
      ]
    },
    "/hs/catalog/v2/items": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Номенклатура",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "Example 1": {
                    "value": {
                      "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                      "contractID": "0000264170",
                      "fields": [
                        "ГарантийныйСрок"
                      ],
                      "group": "0000000001"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "",
        "description": "Получение списка номенклатуры",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "fields": [
                      "ГарантийныйСрок"
                    ],
                    "group": "0000000001",
                    "items": [
                      "0000156038"
                    ]
                  }
                },
                "properties": {
                  "userID": {
                    "type": "string",
                    "description": "ID пользователя"
                  },
                  "contractID": {
                    "type": "string",
                    "description": "ID договора"
                  },
                  "group": {
                    "type": "string",
                    "description": "Группа номенклатуры"
                  },
                  "fields": {
                    "type": "array",
                    "description": "Дополнительные поля вывода",
                    "items": {
                      "type": "string"
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "Список номенклатуры",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "userID",
                  "contractID"
                ]
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/hs/catalog/v2/items-all": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Номенклатура без цен",
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "parameters": []
    },
    "/hs/catalog/v2/partner/{id}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Контрагенты",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получение списка контрагента или данных по отдельному контрагенту, если указан id"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "ID контрагента"
        }
      ]
    },
    "/hs/catalog/v2/order-status-list": {
      "get": {
        "summary": "Список статусов заказа",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Доступные статусы заказа",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/order/{id}": {
      "get": {
        "summary": "Получить заказ покупателя",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      },
      "patch": {
        "summary": "Изменить заказ покупателя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Header": {
                    "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                    "contractID": "0000264170",
                    "Address": "Коммунистическая",
                    "Comment": "Это тест API"
                  },
                  "Items": [
                    {
                      "PRODUCT_ID": "0000210949",
                      "NUMBER_ID": "",
                      "COUNT": 1
                    },
                    {
                      "idCatalog": 204845,
                      "NUMBER_ID": "",
                      "COUNT": 1,
                      "Цена": 100
                    },
                    {
                      "PRODUCT_ID": "0000214380",
                      "NUMBER_ID": "",
                      "COUNT": 1,
                      "idЗаказное": "213213213213"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Номер заказа"
        }
      ],
      "delete": {
        "summary": "Поставить/удалить пометку на удаление в заказе",
        "operationId": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/orders": {
      "get": {
        "summary": "Список заказов",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "В резерве"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/order-merge": {
      "post": {
        "summary": "order-merge - объеденить заказы",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "userID": "2fd003f5-95e0-11eb-a8cc-0050568eed8c",
                  "contractID": "0000264170",
                  "destination": "0000077488",
                  "sources": [
                    "0000077490"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "tags": [
          "order"
        ]
      }
    },
    "/hs/catalog/v2/supplier-order": {
      "put": {
        "tags": [
          "default"
        ],
        "summary": "Создать заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 10,
                      "СтранаВвозаКодАльфа2": "CN"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 3,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": ""
      }
    },
    "/hs/catalog/v2/supplier-order/{id}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Заказ поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Получить заказ поставщику"
      },
      "patch": {
        "tags": [
          "default"
        ],
        "summary": "Изменить заказ поставщику",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Шапка": {
                    "ОрганизацияИНН": "191623092",
                    "ПоставщикКод": "0000008251",
                    "ДоговорКод": "0000264934"
                  },
                  "Товары": [
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 1,
                      "Цена": 30,
                      "СтранаВвозаКодАльфа2": "RU",
                      "idЗаказное": "123456"
                    },
                    {
                      "НоменклатураКод": "0000210949",
                      "Количество": 30,
                      "Цена": 20,
                      "СтранаВвозаКодАльфа2": "BY",
                      "idЗаказное": "1234567"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "default"
        ],
        "summary": "Поставить/удалить пометку на удаление в заказе поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "description": "Заказ поставщику"
        }
      ]
    },
    "/hs/catalog/v2/supplier-orders": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "supplier-orders - (не работает) Получить все заказы поставщику",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/hs/catalog/v2/suppliers/{unp}": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список поставщиков",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Список поставщиков по организации"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "unp",
          "in": "path",
          "required": true,
          "description": "УНП организации"
        }
      ]
    },
    "/hs/catalog/v2/countries": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список стран",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/hs/catalog/v2/report/user-history": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Отчёт о движениях пользователя",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "9F1159B7E67F141ECCE70995AE03281AFC9355AE"
          },
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "35b3c790-4456-11eb-a8aa-0050568e457c"
          },
          {
            "name": "contractID",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0000263922"
          },
          {
            "name": "dateBegin",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20210601"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20210722"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": ""
      }
    },
    "/hs/catalog/v2/routes": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Список маршрутов",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "0A8AD9325EF7402E857C98A73294C2D1C40AE740"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/hs/catalog/v2/delivery-route": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Ближайшие маршруты доставки по городу",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "0A8AD9325EF7402E857C98A73294C2D1C40AE740"
          },
          {
            "name": "organizationID",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "cityID",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "50000000000000"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20210503"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "x-internal": false
}
